/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 100 [UserDataId]
      ,[DataCollectionDate]
      ,[UserId]
      ,[Name]
      ,[RegDate]
      ,[LastLogin]
      ,[BirthName]
      ,[ContactNumber]
      ,[CityCountry]
      ,[Gender]
      ,[MaritalStatus]
      ,[Age]
      ,[AboutMe]
      ,[Language]
      ,[SpokenLanguages]
      ,[DateOfBirth]
      ,[Nameday]
      ,[Animals]
      ,[Work]
      ,[NotWork]
      ,[EMail]
      ,[Phone]
      ,[Postcode]
      ,[Address]
      ,[ICQ]
      ,[MSN]
      ,[Skype]
      ,[Blog]
      ,[WorkPlace]
      ,[WorkPlaceWeb]
      ,[PrevWorkPlaces]
      ,[PrimarySchool]
      ,[SecondarySchool]
      ,[University]
      ,[RawResponse]
      ,[RequestSent]
      ,[AvatarThumbnailURL]
  FROM [iwiwDB].[dbo].[UserData]
  WHERE [Gender] = 1
  AND (([Age] IS NULL) OR (([Age] > 18) AND ([Age] < 30)))
  AND [CityCountry] = 'Kecskemét, Magyarország'
  AND [Name] LIKE '%Franciska%'