<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="NaplampaUsername" value="19000012"/>
    <add key="NaplampaPassword" value="5xnUCBRo"/>
  </appSettings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="None"/>-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="error.htm">
      <!--<error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />-->
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_INaplampaService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="None" negotiateServiceCredential="true"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DebugBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <!--This is the local test URL-->
      <!--<endpoint address="http://localhost:57500/NaplampaService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INaplampaService" contract="NaplampaService.INaplampaService" name="WSHttpBinding_INaplampaService" />-->      
      <!--<endpoint address="http://naplampahu0.eweb702.discountasp.net/NaplampaWCFService/NaplampaWCFService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INaplampaService" contract="NaplampaService.INaplampaService" name="WSHttpBinding_INaplampaService" />-->
      
      <!--This is live-->
      <!--<endpoint address="http://localhost/NaplampaWCFService/NaplampaWCFService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INaplampaService" contract="NaplampaService.INaplampaService" name="WSHttpBinding_INaplampaService"/>-->
      
      <!--This is live HFL-->
      <endpoint address="http://wcf.naplampa.hu/NaplampaWCFService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INaplampaService" contract="NaplampaService.INaplampaService" name="WSHttpBinding_INaplampaService"/>
    </client>
  </system.serviceModel>
  <!--<system.webServer>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true"/>
  </system.webServer>-->
</configuration>