@charset "utf-8";
@media screen {

body {
    background-color: #333333;
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-x;
    background-position: top;
    font-family: Georgia, "Times New Roman", Times, serif;
}
body, a, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin:0;
    padding:0;
    border-style: none;
    font-family: Georgia, "Times New Roman", Times, serif;
}

a {
    outline: none;
    border-style: none;
}

img {
    border-style: none;
}

.bigbutton
{
    text-align: center;
    border-style: dotted;
    border-color: #333333;
    border-width: 1px;
    font-size: x-large;
}

.pmbutton
{
    text-align: center;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 1px;
    font-size: medium;
    width: 20px;
}

.container {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 864px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
}
.masthead {
    height: 77px;
}
.masthead a.logo:link, .header a.logo:visited, .header a.logo:hover {
    float: left;
    height: 77px;
    width: 360px;
    display: block;
}
.masthead .countrylist {
    float: right;
    height: 62px;
    margin-right: 10px;
    padding-top: 15px;
    background-image: url(../images/country_bg.png);
    background-repeat: no-repeat;
    background-position: right 11px;
    width: 480px;
    text-align: right;
    padding-right: 3px;
}
.masthead .countrylist .dropdown {
    float: left;
    width: 480px;
    margin-bottom: 5px;
    height: 23px;
}

.masthead input
{
    display:block;
    float:left;
    height:70px;
}

.oldbrowser_warning
{
    float: left;
    width: 750px;
    font-size: 13px;
    font-weight: lighter;
    font-style: italic;
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 0px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}


.countrylist select {
    background-color: #FFFFFF;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    width: 173px;
}
.countrylist a.lang:link, .countrylist a.lang:visited {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    background-image: url(../images/lang_bg.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 22px;
    width: 28px;
    padding-top: 6px;
    text-align: center;
    margin-left: 10px;
    display: block;
    float: right;
}
.countrylist a.lang:hover {
    color: #f46700;
}

.landingpic {
    background-image: url(../images/pic_Landing.png);
    background-repeat: no-repeat;
    background-position: top;
    float: left;
    height: 323px;
    width: 524px;
    margin-bottom: 7px;
}
.defaultpic {
    background-image: url(../images/pic_Default.jpg);
    background-repeat: no-repeat;
    background-position: top;
    float: left;
    height: 323px;
    width: 524px;
    margin-bottom: 7px;
}




.productcard {
    background-repeat: no-repeat;
    background-position: top;
    float: left;
    height: 323px;
    width: 524px;
    margin-bottom: 7px;
}
.productcard .productname {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 27px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    margin-top: 15px;
    margin-left: 20px;
}
.productcard .moneyback {
    background-color: #457d14;
    float: left;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #FFFFFF;
    text-decoration: none;
    /*margin-top: 175px;*/
    position: relative;
    left: -18px;
    top: 175px;
}
.productcard .moneyback span {
    font-size: 60px;
    display: block;
    float: left;
    font-weight: normal;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    line-height: normal;
}
.productcard .moneyback p {
    font-size: 11px;
    line-height: 12px;
    margin-top: 9px;
    font-weight: normal;
    display: block;
    float: left;
    margin-left: 5px;
}
.productcard .prices {
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
    font-weight: normal;
    float: right;
    text-align: right;
    margin-right: 30px;
    margin-top: 190px;
}
.productcard .prices span {
    font-size: 17px;
    color: #000000;
    font-weight: normal;
}
.productcard .prices p {
    font-size: 20px;
    font-weight: normal;
    color: #f46700;
}

#megrendelolap .productname {
    color: #FFFFFF;
}
.console {
    float: right;
    width: 334px;
    margin-bottom: 7px;
}
.console .top {
    font-size: 1px;
    line-height: 1px;
    background-image: url(../images/small_box_bg_top.png);
    background-repeat: no-repeat;
    height: 13px;
}
.console .center {
    background-image: url(../images/small_box_bg_center.png);
    background-repeat: repeat-y;
    background-position: top;
    padding-right: 10px;
    padding-left: 4px;
}
.center .product:link, .center .product:visited {
    display: block;
    text-decoration: none;
}
.center .product:hover {
    display: block;
    text-decoration: none;
}
.center .product img {
    float: left;
}

.product .data_bg {
    background-color: #FFFFFF;
    background-image: url(../images/data_bg.gif);
    background-repeat: no-repeat;
    background-position: right center;
    display: block;
    float: right;
    height: 70px;
    width: 230px;
}
.data_bg h1 {
    font-size: 21px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    padding-left: 7px;
    margin-top: 2px;
}
.data_bg h2 {
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    padding-left: 7px;
}
.data_bg font {
    font-size: 16px;
    font-weight: normal;
    color: #f46700;
    text-decoration: none;
    margin-top: 6px;
    display: block;
    text-align: left;
    margin-bottom: 2px;
    margin-left: 6px;
}
.center .product:hover .data_bg font {
    color: #0099FF;
}
.center .product:hover .data_bg h1 {
    color: #0099FF;
}
.console .foot {
    font-size: 1px;
    line-height: 1px;
    background-image: url(../images/small_box_bg_foot.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 20px;
}

/*ITT KEZDODIK A LEIRIAS*/

.description {
    float: right;
    width: 334px;
    margin-bottom: 7px;
}
.description .top {
    font-size: 1px;
    line-height: 1px;
    background-image: url(../images/small_box_bg_top.png);
    background-repeat: no-repeat;
    height: 13px;
}
.description .center {
    background-image: url(../images/small_box_bg_center.png);
    background-repeat: repeat-y;
    background-position: top;
    padding-right: 30px;
    padding-left: 24px;
    height: 245px;
    padding-top: 5px;
}
.description .center h1 {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
}
.description .center p {
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

.description .foot 
{
    background-image: url(../images/description_foot_blank.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 50px;
    width: 320px;
    padding-right: 10px;
    padding-left: 4px;
    padding-top: 10px;
}

/*ITT VEGZODIK A LEIRIAS*/

.ordernow 
{
    background-image: url(../images/order_button.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 60px;
    width: 340px;
    padding-right: 270px;
    padding-left: 270px;
    padding-top: 10px;
}

.ordernow a:link, .ordernow a:visited, .ordernow a:hover {
    font-size: 27px;
    color: #FFFFFF;
    text-decoration: none;
    background-image: url(../images/icon_order.png);
    background-repeat: no-repeat;
    background-position: left center;
    display: block;
    height: 35px;
    padding-left: 41px;
    width: 160px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

.ordernow a:hover {
    color:#f46700;
    background-image: url(../images/icon_order_h.png);
}

.work_frame {
    clear: both;
    width: 864px;
    margin-bottom: 7px;
}
.work_frame .top {
    background-image: url(../images/work_bg_top.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 13px;
    font-size: 1px;
    line-height: 1px;
}
.work_frame .center {
    background-image: url(../images/work_bg_center.png);
    background-repeat: repeat-y;
    background-position: top;
    padding-right: 10px;
    padding-left: 4px;
}
.work_frame .center .landingpage {
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    padding-top: 17px;
    padding-right: 30px;
    padding-bottom: 17px;
    padding-left: 30px;
}

.work_frame .foot {
    background-image: url(../images/work_bg_foot.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 20px;
    margin-bottom: 10px;
}
.work_frame .center .insideframe {
    padding-bottom: 10px;
}
.insideframe .header {
    font-size: 20px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    height: 31px;
    padding-left: 20px;
    padding-top: 7px;
    background-color: #ebe6dd;
}
.insideframe .product_recommendation {
    float: right;
    width: 320px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.insideframe .product_recommendation .header {
    background-color: #d4cfc7;
    padding-left: 10px;
}
.insideframe .product_recommendation .center {
    padding: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #D4CFC7;
    border-bottom-color: #D4CFC7;
    border-left-color: #D4CFC7;
}
.insideframe .product_recommendation .center .product .data_bg {
    width: 228px;
    padding-top: 5px;
    padding-bottom: 5px;	
}
.insideframe .product_recommendation .center .product img {
    margin-top: 5px;
}
.insideframe p {
    font-size: 14px;
    color: #000000;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    text-align: justify;
}
.insideframe a.links:link, .insideframe a.links:visited {
    font-size: 14px;
    color: #f46700;
    text-decoration: underline;
}
.insideframe a.links:hover {
    text-decoration: none;
}
.insideframe table
{
    width: 100%;
    font-size: 13px;
    color: #000000;
    padding-right: 100px;
    padding-left: 60px;
    margin-top: 10px;
}
.insideframe ul
{
    font-size: 14px;
    color: #000000;
    padding-right: 20px;
    padding-left: 60px;
    margin-top: 10px;
}

.icon_container {
    clear: both;
    margin-bottom: 7px;
}
a.icon:link, a.icon:visited {
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    display: block;
    float: left;
    height: 34px;
    width: 125px;
    margin-right: 5px;
    text-decoration: none;
    padding-top: 69px;
    padding-right: 10px;
    padding-left: 4px;
}
a.icon:hover {

}
#ctl00_lnkFeedback {
    background-image: url(../images/icon01.png);
}
#ctl00_lnkFeedback:hover {
    background-image: url(../images/icon01_h.png);
}
#ctl00_lnkContact {
    background-image: url(../images/icon02.png);
}
#ctl00_lnkContact:hover {
    background-image: url(../images/icon02_h.png);
}
#ctl00_lnkRecommend {
    background-image: url(../images/icon03.png);
}
#ctl00_lnkRecommend:hover {
    background-image: url(../images/icon03_h.png);
}
#ctl00_lnkPartners {
    background-image: url(../images/icon04.png);
}
#ctl00_lnkPartners:hover {
    background-image: url(../images/icon04_h.png);
}
#ctl00_lnkDownloads {
    background-image: url(../images/icon05.png);
}
#ctl00_lnkDownloads:hover {
    background-image: url(../images/icon05_h.png);
}
#ctl00_lnkLinks {
    background-image: url(../images/icon06.png);
}
#ctl00_lnkLinks:hover {
    background-image: url(../images/icon06_h.png);
}

.addthis 
{
    text-align: left;
    vertical-align: middle;
    margin-left: 10px;
    float: left;
    height: 30px;
}

.copyright 
{
    float: right;
    font-size: 11px;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
    /* margin-top: -20px; Use this if you have addThis toolbar */
    margin-top: -10px;
    margin-right: 10px;
    clear: both;	
}

.copyright a, .copyright a:visited
{
       color: #FFFFFF; 
}

}